img
{
    width: 300px;
    height: 300px;
}

.puertas div
{
    display: inline;
    margin: 0px auto;
    margin-right: 50px;
}

.puertas
{
    text-align: center;
    margin-top: 100px;
}

button
{
    background-color: white;
    border-width: 0px;
}
